@font-face {
  font-family: 'MAIAN';
  src: url('/fonts/MAIAN.TTF') format('truetype');
  
}

:root {
  font-family: MAIAN, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --shapeWhole: polygon(0% 0%, 50% 0%, 100% 6.6%, 100% 100%, 50% 100%, 0% 93.4%);
  --shapeWholeReverse: polygon(0% 6.6%, 50% 0%, 100% 0%, 100% 93.4%, 50% 100%, 0% 100%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.print {
  background-color: white;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.hidden{
  display: none;
}

.invisible{
  color: transparent;
}

* {
  overflow: visible;
}

.no-select {
  user-select: none;
}
